[
    Rule (
        name: "Root", // Name of Rule (required)
        node: Root, // Associated AST Node
        is_scope: true, // defaults to false
        children: {
            Multiple(Kind("constant_declaration"), Rule(ConstantDeclaration)),
        }
    ),
    Rule (
        name: "ConstantDeclaration"
        node: ConstantDec,
        children: [ 
            Maybe(Field("annotation"), Rule("annotation")),
            One(Field("type"), Node(Type)),
            One(Field("name"), Node(Name)),
            One(Field("value"),Rule("Value")),
        ]
    ),
    Rule (
        name: "Value",
        // ...
    )
]
