LanguageDefinition (
    ast_rules: [
        Rule(
            name: "Root", // Name of Rule (required)
            node: Root, // Associated AST Node (required)
            is_scope: true, // defaults to false
            children: [
                Multiple(Kind("constant_declaration"), Rule("ConstantDeclaration")),
                Multiple(Kind("parser_declaration"), Rule("Parser")),
            ]
        ),
        Rule(
            name: "ConstantDeclaration",
            node: ConstantDec,
            children: [ 
                Maybe(Field("annotation"), Rule("annotation")),
                One(Field("type"), Node(Type(Name))),
                One(Field("name"), Node(Name)),
                One(Field("value"), Node(Value)),
            ]
        ),
        Rule(
            name: "Parser",
            node: ParserDec,
            children: [
                Maybe(Field("annotation"), Rule("annotation")),
                One(Path([Field("declaration"), Field("name")]), Node(Name)),
                
            ]
        )
    ]
)

