LanguageDefinition (
    ast_rules: [
        Rule(
            name: "Root", // Name of Rule (required)
            node: Node("Root"), // Associated AST Node (required)
            is_scope: true, // defaults to false
            children: [
                Multiple(Kind("constant_declaration"), Rule("ConstantDeclaration")),
                Multiple(Kind("parser_declaration"), Rule("Parser")),
                Multiple(Kind("control_declaration"), Rule("Control")),
                Multiple(Kind("instantiation"), Rule("Instantiation")),
                //Multiple(Kind("type_declaration"), Rule("TypeDeclaration")),
                Multiple(Kind("action_declaration"), Rule("ActionDeclaration")),
                Multiple(Kind("function_declaration"), Rule("FunctionDeclaration")),
                Multiple(Kind("error_declaration"), Rule("ErrorDeclaration")),
                Multiple(Kind("extern_declaration"), Rule("ExternDeclaration")),
            ]
        ),
        Rule(
            name: "ConstantDeclaration",
            node: Node("ConstantDec"),
            children: [ 
                Maybe(Field("annotation"), Rule("Annotation")),
                One(Field("type"), Rule("Type")),
                One(Field("name"), Direct(Node("Name"))),
                One(Field("value"), Direct(Node("Value"))),
            ]
        ),
        Rule(
            name: "Parser",
            node: Node("ParserDec"),
            is_scope: true,
            children: [
                Maybe(Field("annotation"), Rule("Annotation")),
                One(Path([Field("declaration"), Field("name")]), Direct(Node("Name"))),
                One(Path([Field("declaration"), Field("parameters")]), Rule("Parameters")),
                One(Field("body"), Rule("Body")),
            ]
        ),
        Rule(
            name: "Control",
            node: Node("ControlDec"),
            is_scope: true,
            children: [
                Maybe(Field("annotation"), Rule("Annotation")),
                One(Path([Field("declaration"), Field("name")]), Direct(Node("Name"))),
                One(Path([Field("declaration"), Field("parameters")]), Rule("Parameters")),
                One(Field("body"), Rule("Body")),
            ]
        ),
        Rule(
            name: "Instantiation",
            node: Node("Instantiation"),
            is_scope: true,
            children: [ 
                Maybe(Kind("annotation"), Rule("Annotation")),
                One(Kind("type_ref"), Rule("Type")),
                One(Kind("name"), Direct(Node("Name"))),
                One(Kind("argument_list"), Rule("Args")),
            ]
        ),
        Rule(
            name: "TypeDeclaration",
            node: Node("TypeDec"),
            children: [
                
            ]
        ),
        Rule(
            name: "ActionDeclaration",
            node: Node("ControlAction"),
            children: [
                Maybe(Field("annotation"), Rule("Annotation")),
                One(Field("name"), Direct(Node("Name"))),
                Maybe(Field("parameters"), Rule("Parameters")),
                One(Field("block"), Rule("Block")),
            ],
        ),
        Rule(
            name: "FunctionDeclaration",
            node: Node("Function"),
            is_scope: true,
            children: [
                One(Kind("function_prototype"), Rule("FunctionPrototype")),
                One(Kind("block_statement"), Rule("Block")),
            ]
        ),
        Rule(
            name: "ErrorDeclaration",
            node: Node("ErrorCst"),
            children: [
                One(Field("option_list"), Rule("Options")),
            ]
        ),
        Rule(
            name: "ExternDeclaration",
            node: Node("Extern"),
            children: [
                Maybe(Field("annotation"), Rule("Annotation")),
                Maybe(Field("name"), Direct(Node("Name"))),
                // maybe type parameters
                Maybe(Field("function"), Rule("FunctionPrototype")),
                Maybe(Field("method"), Rule("MethodList")),
            ]
        ),
        Rule(
            name: "FunctionPrototype",
            node: Node("FunctionPrototype"),
            children: [
                One(Kind("type_or_void"), Rule("Type")),
                One(Kind("name"), Direct(Node("Name"))),
                One(Kind("parameter_list"), Rule("Parameters")),
            ]
        ),
        Rule(
            name: "MethodList",
            node: Node("Methods"),
            children: [
                Multiple(Kind("method_prototype"), Rule("MethodPrototype")),
            ]
        ),
        Rule(
            name: "MethodPrototype",
            node: Node("MethodPrototype"),
            children: [
                Maybe(Field("annotation"), Rule("Annotation")),
                Maybe(Field("function"), Rule("FunctionPrototype")),
                Maybe(Field("type"), Rule("Type")),
                Maybe(Field("parameters"), Rule("Parameters")),
            ]
        ),
        Rule(
            name: "Options",
            node: Node("Options"),
            children: [
                Multiple(Kind("name"), Direct(Node("Option"))),
            ]
        ),
        Rule(
            name: "Args",
            node: Node("Args"),
            children: [
                Multiple(Kind("argument"), Rule("Arg")),
            ]
        ),
        Rule(
            name: "Arg",
            node: Node("Arg"),
        ),
        Rule(
            name: "Parameters",
            node: Node("Params"),
            children: [
                Multiple(Kind("parameter"), Rule("Parameter")),
            ]
        ),
        Rule(
            name: "Parameter",
            node: Node("Param"),
            children: [
                Maybe(Field("direction"), Rule("Direction")),
                One(Field("type"), Rule("Type")),
                One(Field("name"), Direct(Node("Name"))),
            ]
        ),
        Rule(
            name: "Body",
            node: Node("Body"),
            is_scope: true,
            children: [
                Multiple(Kind("constant_declaration"), Rule("ConstantDeclaration")),
                Multiple(Kind("variable_declaration"), Rule("VariableDeclaration")),
                Multiple(Kind("instantiation"), Rule("Instantiation")),
                Multiple(Kind("value_set_declaration"), Rule("ValueSetDeclaration")),

                Multiple(Kind("parser_state"), Rule("ParserState")),
                Multiple(Kind("action_declaration"), Rule("ActionDeclaration")),
                Multiple(Kind("table_declaration"), Rule("ControlTable")),
                Multiple(Kind("block_statement"), Rule("Block")),
            ]
        ),
        Rule(
            name: "Block",
            node: Node("Block"),
            is_scope: true,
            children: [
                Multiple(Kind("constant_declaration"), Rule("ConstantDeclaration")),
                Multiple(Kind("variable_declaration"), Rule("VariableDeclaration")),
                Multiple(Kind("assignment_or_method_call_statement"), Rule("AssignmentOrMethodCall")),
                Multiple(Kind("direct_application"), Rule("DirectApplication")),
                Multiple(Kind("conditional_statement"), Rule("Conditional")),
                Multiple(Kind("empty_statement"), Direct(Node("EmptyStatement"))),
                Multiple(Kind("block_statement"), Rule("Block")),
                Multiple(Kind("parser_block_statement"), Rule("Block")),
                Multiple(Kind("exit_statement"), Direct(Node("ExitStatement"))),
                Multiple(Kind("return_statement"), Rule("Return")),
                Multiple(Kind("switch_statement"), Rule("Switch")),
            ]
        ),
        Rule(
            name: "VariableDeclaration",
            node: Node("VariableDec"),
            children: [
                Maybe(Field("annotation"), Rule("Annotation")),
                One(Field("type"), Rule("Type")),
                One(Field("name"), Direct(Node("Name"))),
                Maybe(Field("value"), Direct(Node("Value"))),
            ]
        ),
        Rule(
            name: "Conditional",
            node: Node("Conditional"),
            children: [
                One(Field("expression"), Direct(Node("Value"))),
                One(Field("bodyIf"), Rule("Block")),
                Maybe(Field("bodyElse"), Rule("Block")),
            ]
        ),
        Rule(
            name: "Switch",
            node: Node("Switch"),
            children: [
                One(Field("expression"), Direct(Node("Value"))),
                Multiple(Path([Field("body"), Field("switch_case")]), Rule("SwitchCase")),
            ]
        ),
        Rule(
            name: "SwitchCase",
            node: Node("SwitchCase"),
            children: [
                One(Field("name"), Direct(Node("Value"))),
                One(Field("value"), Rule("Block")),
            ]
        ),
        Rule(
            name: "AssignmentOrMethodCall",
            node: Node("Assignment"),
            children: [
                One(Field("name"), Direct(Node("Name"))),
                Maybe(Field("expression"), Direct(Node("Value"))),
                Maybe(Field("parameters"), Rule("Args")),
            ]
        ),
        Rule(
            name: "ControlTable",
            node: Node("ControlTable"),
            children: [
                Maybe(Field("annotation"), Rule("Annotation")),
                One(Field("name"), Direct(Node("Name"))),
                One(Field("table"), Rule("Table")),
            ]
        ),
        Rule(
            name: "Table",
            node: Node("Table"),
            children: [
                // TODO
            ]
        ),
        Rule(
            name: "ParserState",
            node: Node("ParserState"),
            children: [
                Maybe(Field("annotation"), Rule("Annotation")),
                One(Field("name"), Direct(Node("Name"))),
                One(Field("body"), Rule("Block")),
            ]
        ),
        Rule(
            name: "ValueSetDeclaration",
            node: Node("ValueSet"),
            children: [
                Maybe(Field("annotation"), Rule("Annotation")),
                One(Field("type"), Rule("Type")),
                One(Field("name"), Direct(Node("Name"))),
                One(Field("expression"), Direct(Node("Value"))),
            ]
        ),
        Rule(
            name: "DirectApplication", // Deviates from 'translator.rs', name instead of type 
            node: Node("DirectApplication"),
            children: [
                // Change tree-sitter-p4 field names to combine both ?
                Maybe(Field("name"), Direct(Node("Name"))), 
                Maybe(Field("specialized"), Direct(Node("Name"))),

                Maybe(Field("args"), Rule("Args")),
            ]
        ),
        Rule(
            name: "Return",
            node: Node("Return"),
            children: [
                One(Field("value"), Direct(Node("Value"))),
            ]
        ),
        Rule(
            name: "TypeArgumentList",
            node: Node("TypeArgList"),
            children: [
                Multiple(Kind("type_arg"), Rule("Type")),
            ]
        ),
        Rule(
            name: "Type",
            node: Node("Type"), 
        ), 
        Rule(
            name: "Direction",
            node: Node("Direction"),  
        ),
        Rule(
            name: "Annotation",
            node: Node("Annotations")
        )
    ]
)

